body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: black;
    background-image: url('../img/demo-2-bg.jpg');
    background-position: center bottom;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box{
    width: 19em;
    padding: 0rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 4em;
    opacity: 85%;
    
}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: #191919;
    display: block;
    margin: 1.6rem auto;
    text-align: center;
    border: .2rem solid #3498db;
    padding: 0.8rem 0.8rem;
    width: 13em;
    outline: none;
    color: white;
    border-radius: 25em;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 16rem;
    border-color: #2ecc71;
    font-weight: 1000;
}

.box input[type = "submit"]{
    border: 0;
    background:none;
    display: block;
    margin: 1.6rem auto;
    text-align: center;
    border: 0.2em solid #2ecc71;
    padding: 0.8rem 1.7rem;
    outline:none;
    color: white;
    border-radius: 24rem;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
    font-weight: 1000;
}
